/* ОБЩИЕ СОЦИАЛЬНЫЕ СЕТИ*/
.social {
    display: flex;
    justify-content: center;
    align-items: center;;
}
.social__list {
    &:not(:last-child) {
        margin-right: 10px;
        }
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--color-icon-grey);
    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
        &:hover,
        &:focus {
            background-color: var(--color-main-blue);
            color: var(--color-white);
            }
}
.social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
        &:hover,
        &:focus {
        fill: currentColor;
        }
}

