// Чем мы занимаемся & Наша команда & Постоянные клиенты
.subtitle {
    margin: 0px auto 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}