// Чем мы занимаемся & Наша команда & Постоянные клиенты
.subtitle {
    margin: 0px auto 50px;
    width: 390px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}