/* ПЕРЕМЕННЫЕ */
:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-black-text: #212121;
    --color-main-blue: #2196F3;
    --colot-secondary-blue: #188CE8;
    --color-accent-grey: #757575;
    --color-secondary-grey-footer: rgba(255, 255, 255, 0.6);
    --color-icon-grey: #AFB1B8;
    --color-background-black: #2F303A;
    --color-background-grey: #F5F4FA;
    --color-background-overlay-blue: rgba(33, 150, 243, 0.9);
    --color-box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --color-border-project-tittle: rgba(238, 238, 238, 1);
    --color-border-form-input: rgba(33, 33, 33, 0.2);
    --color-form-placeholder: rgba(117, 117, 117, 0.5);
    --font-main: 'Roboto', sans-serif;
    --font-accent: 'Raleway', sans-serif;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}