/* СТУДИЯ - НАШИ ОСОБЕННОСТИ */
.features__flex {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.features__list{  
    width: calc((100% - 1 * 30px) / 1);
    margin: 15px;
    @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    }
    @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
    }
}
.features__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-background-grey);
    border-radius: 4px;
}
.features__label {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}
.features__text {
    font-size: 14px;
    line-height: 1.714;
    color: var(--color-accent-grey)
}