/* ПРИМЕРЫ РАБОТ */
.portfolio__project {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.project {
    width: calc((100% - 1 * 30px) / 1);
    margin: 15px;
    @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;  
    }
    @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
    }
}
.project__box-shadow {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: box-shadow 250ms var(--timing-function);
        &:hover,
        &:focus,
        &:focus .portfolio-overlay{
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
            0px 4px 4px rgba(0, 0, 0, 0.06),
            0px 1px 1px rgba(0, 0, 0, 0.12);
            opacity: 1;
            transform: translateY(0%);
            transition: transform  250ms var(--timing-function);
            }   
}

.project__overlay-image {
    position: relative;
    overflow: hidden;
}
.project__overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--color-background-overlay-blue);
    opacity: 0;
    transform: translateY(100%);
    transition: 250ms var(--timing-function);
}
.project__overlay-text {
    // width: 322px;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: var(--color-white);
}
.project__overlay-background {
    .project__box-shadow:hover &,
    .project__box-shadow:focus &,
    .project__overlay-image:hover &,
    .project__overlay-image:focus &{
    opacity: 1;
    transform: translateY(0%);
    transition: transform  250ms var(--timing-function);
    }
}
.project__title {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid var(--color-border-project-tittle);
}
.project__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-black-text);
}
.project__type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-accent-grey);
}